{#
 # Menu component
 # Usage example:
 #      {{ include('_menu.html.twig') }}
 #}
<div class="menu">
    {% set currentUrl = global.request.getRequestUri() %}
	    <a class="menu-link {{ path('booking_form') == currentUrl ? 'active' }}" href="{{ path('booking_form') }}">Book</a>
	    <a class="menu-link {{ path('booking_list') == currentUrl ? 'active' }}" href="{{ path('booking_list') }}">See bookings</a>
</div>
